<ul class="social-media-list">
  <li><a href="https://www.linkedin.com/in/rotenbergrr"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">Raz Rotenberg</span></a></li>
  <li><a href="https://github.com/rotenbergrr"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">razrotenberg</span></a></li>
  <li><a href="https://stackoverflow.com/users/9540328/raz-rotenberg"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#stackoverflow' | relative_url }}"></use></svg> <span class="username">Raz Rotenberg</span></a></li>
</ul>
